#Manush_lagbe {
  color: green;
  font-size: 64px;
  padding-top: 10px;
}
#we_are_here {
  color: #aaa9a9;
  font-size: 48px;
  padding-top: 10px;
}
#landing_img {
  max-width: 100%;
  padding-top: 10px;
}
