#mms {
  color: green;
  font-size: 48px;
}
#Logo {
  float: left;
  width: 15%;
}
#title_bar {
  width: 100;
  border-bottom: 2px solid #aaa9a9;
  height: 72px;
  padding: 10px;
}
#signup {
  background-color: green;
  border-radius: 50px;
  font-size: 24;
  width: 50%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
}
#login {
  font-size: 24;
  border-radius: 50px;
  width: 50%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #aaa9a9;
  cursor: pointer;
}
#buttons {
  display: flex;
  float: right;
  width: 25%;
  margin-right: 10px;
}
#login:hover {
  color: green;
}
#signup:hover {
  color: green;
  background-color: white;
  border: 1px solid green;
}
